
.logo-gather-demo-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.logo-gather-demo-wrapper .point-wrapper {
    position: absolute;
}

.logo-gather-demo-wrapper .point {
    border-radius: 100%;
}

.logo-gather-demo-wrapper .right-side {
    width: 300px;
    height: 200px;
    position: absolute;
    right: 0;
    top: -300px;
    bottom: 0;
    left: 0;
    margin: auto;
}

.logo-gather-demo-wrapper .right-side * {
    pointer-events: none;
}
